# This is Git's per-user configuration file.
[user]
  name = Jake Wood
  email = jzwood14@yahoo.com
[difftool]
  prompt = false
[alias]
  st = status -s
[alias]
  sw = switch
[alias]
  dh = diff HEAD -w
[alias]
  dm = diff master -w
[alias]
  co = checkout
[alias]
  le = log --oneline
[alias]
  graph = log --graph --all --stat --date=iso
[pull]
  ff = only
[init]
  defaultBranch = main
